# NLP Feature Engineering
### Import Preliminaries

In [6]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import *

test_df = pd.read_csv('Data/cleaned_test_df.csv', low_memory=False,
                     parse_dates=['project_submitted_datetime'])
train_df = pd.read_csv('Data/cleaned_train_df.csv', low_memory=False, 
                       parse_dates=['project_submitted_datetime'])

dfs = [test_df, train_df]

In [7]:
train_df.shape

(182080, 146)

In [8]:
test_df.shape

(78035, 145)

In [9]:
train_df.head(2)

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,...,subcat_sciences,subcat_service,subcat_social,subcat_special,subcat_sports,subcat_team,subcat_visual,subcat_warmth,subcat_wellness,subcat_writing
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,"['cat_Language', 'cat_Literacy']",['subcat_Literacy'],Super Sight Word Centers,Most of my kindergarten students come from low...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"['cat_Arts', 'cat_Health', 'cat_Music', 'cat_S...","['subcat_Arts', 'subcat_Performing', 'subcat_S...",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

### Export Data

In [10]:
train_df.to_csv('Data/cleaned_nlp_train_df.csv', index=False)
test_df.to_csv('Data/cleaned_nlp_test_df.csv', index=False)

Author: Kavi Sekhon